@using System.Text
@using System.Text.Json
@using MainFE.Components.Models
@using Markdig
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled
@using Message = MainFE.Components.Models.Message
@inject HttpClient Http
<link rel="stylesheet" href="css/chat.css">

<div class="messages-container">
    @foreach (var message in Chat?.Messages ?? [])
    {
        @if (message.IsInternal ?? false)
        {
            continue;
        }

        @if (message.Role != Role.System.ToString())
        {
            @if (Chat!.Visual)
            {
                <span class="@(message.Role == Role.User.ToString() ? "message-role-user" : "message-role-bot")">@GetRoleLabel(message.Role)</span>
                @if (message.Role == Role.User.ToString())
                {
                    <FluentCard class="message-card user-message" Style="color: #7aeda3">
                        @message.Content
                    </FluentCard>
                }
                else
                {
                    <FluentCard class="message-card-img bot-message" Style="height: 30rem !important; width: 30rem !important; ">
                        <div>
                            <a href="data:image/png;base64,@Convert.ToBase64String(message.Images!)"
                               style="cursor: -webkit-zoom-in; cursor: zoom-in;" target="_blank">
                                <img src="data:image/png;base64,@Convert.ToBase64String(message.Images!)"
                                     style="object-fit: fill; width:100%; height:100%;"
                                     alt="imageResponse"/>
                            </a>
                        </div>
                    </FluentCard>
                }
            }
            else
            {
                <span class="@(message.Role == Role.User.ToString() ? "message-role-user" : "message-role-bot")">@GetRoleLabel(message.Role)</span>
                <FluentCard class="@(message.Role == Role.User.ToString() ? "message-card user-message" : "message-card bot-message")">
                    @((MarkupString)((message.Role == Role.User.ToString()
                        ? message.Content
                        : Markdown.ToHtml((string)message.Content!,
                            new MarkdownPipelineBuilder()
                                .UseAdvancedExtensions()
                                .Build())) ?? string.Empty))
                </FluentCard>
            }
        }
    }
    @if (IsLoading)
    {
        @if (Chat.Visual)
        {
            <span class="message-role-bot">@_displayName</span>
            <span class="message-role-bot" style="font-style: italic; font-size: small">This might take a while...</span>
            <FluentProgressRing Visible="IsLoading" Color="#afffab"></FluentProgressRing>
        }
        else
        {
            <FluentStack>
    <span Class="message-role-bot">@_displayName</span>
            <FluentProgressRing Width="20px" Visible="IsLoading"></FluentProgressRing>
            </FluentStack>
            @if (_incomingMessage != null)
            {
                <FluentCard class="message-card bot-message">
                    @((MarkupString)Markdown.ToHtml(_incomingMessage.ToString()!,
                        new MarkdownPipelineBuilder()
                            .UseAdvancedExtensions()
                            .Build()))
                </FluentCard>
            }
        }
    }
</div >
<div class="input-container">
    <FluentInputFile Id="my-file-uploader"
                     Mode="InputFileMode.SaveToTemporaryFolder"
                     Multiple="true"
                     MaximumFileCount="4"
                     MaximumFileSize="@(10 * 1024 * 1024)"
                     Accept=".csv, .json, .txt"
                     ProgressPercent="@ProgressPercent"
                     OnCompleted="@OnFileCompletedAsync"
                     Style="background-color: transparent !important; width: 3rem; border-style: none !important;">
        <ChildContent >
            <label for="my-file-uploader" class="attachment-btn ">
                <FluentIcon Value="@(new Size32.Attach())"
                            Color="@_filesAttachedClass" Style="margin-right: 5px; background-color: transparent">
                </FluentIcon >
            </label >
        </ChildContent >
    </FluentInputFile >
    <input @bind-value="_ask" @bind-value:event="oninput" placeholder="Enter your prompt here..." @onkeydown="CheckEnterKey" class="inp">
    <FluentButton IconStart="@(new Size28.Send())" BackgroundColor="rgba(0, 0, 0, 0)" Style="margin-top: 5px; background-color: transparent"
                  Appearance="Appearance.Lightweight"
                  Loading="@IsLoading"
                  OnClick="@(() => SendAsync(_ask))">
    </FluentButton >
</div >
<FluentProgress Visible="@(IsLoading)" style="width: 100%;"></FluentProgress >

@code
{
    [Parameter] public ChatDto? Chat { get; set; }
    [Parameter] public string SelectedModel { get; set; }
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public string? CustomName { get; set; }
    [Parameter] public bool IsRagChat { get; set; }
    [Parameter] public string? AgentId { get; set; }
    [Parameter] public FluentInputFileEventArgs[] Images { get; set; }
    [Parameter] public bool Translate { get; set; }
    [Parameter] public bool Stream { get; set; } = true;

    public FluentInputFileEventArgs[] Files = [];
    private bool _filesAttached = false;
    private Color _filesAttachedClass => _filesAttached ? Color.Success : Color.Accent;
    private string _ask = string.Empty;
    private string _displayName => CustomName ?? SelectedModel;
    private StringBuilder? _incomingMessage = null;
    int ProgressPercent = 0;
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl($"{ExtensionMethods.GetApiUrl()}/diagnostics")
            .Build();

        hubConnection.On<JsonElement>("ReceiveMessageUpdate", (jsonElement) =>
        {
            _incomingMessage ??= new StringBuilder();
            var chatId = jsonElement.GetProperty("chatId").GetString();
            if (Chat?.Id != chatId) return;

            var content = jsonElement.GetProperty("content").GetString();
            var done = jsonElement.GetProperty("done").GetBoolean();
            _incomingMessage = _incomingMessage.Append(content);

            if (done)
            {
                _incomingMessage = null;
            }
            
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task SendAsync(string message)
    {
        if (IsRagChat)
        {
            await RaGSendAsync(message);
            return;
        }

        if (!string.IsNullOrWhiteSpace(message))
        {
            IsLoading = true;
            var newMsg = new Message { Role = Role.User.ToString(), Content = message };
            Chat.Messages.Add(newMsg);
            if (ExtensionMethods.IsVisionModel(SelectedModel) && Images.Any())
            {
                var file = await File.ReadAllBytesAsync(Images.First().LocalFile!.FullName);
                newMsg.Images = file;
                Images = []; // Clear files
            }

            if (Files.Any())
            {
                newMsg.Files = Files.Select(x => new FileData()
                {
                    Content = File.ReadAllText(x.LocalFile!.FullName),
                    Extension = x.Name.Split('.').Last(),
                    Name = x.Name.Split('.').First()
                }).ToArray();
                _filesAttached = false;
            }

            Chat.Model = SelectedModel;

            var apiResponse = await Http.PostAsJsonAsync($"{ExtensionMethods.GetApiUrl()}/api/chats/complete?translate={Translate}&interactiveUpdates={Stream}", Chat);

            if (apiResponse.IsSuccessStatusCode)
            {
                await LoadChatAsync(Chat.Id);
            }

            IsLoading = false;
            _ask = string.Empty;
            Files = []; // Clear files
        }
    }

    private async Task RaGSendAsync(string message)
    {
        IsLoading = true;
        if (!string.IsNullOrWhiteSpace(message))
        {
            Chat?.Messages.Add(new Message { Role = Role.User.ToString(), Content = message });
            Chat.Model = SelectedModel;

            var apiResponse = await Http.PostAsJsonAsync($"{ExtensionMethods.GetApiUrl()}/api/agents/{AgentId}/process", Chat);

            if (apiResponse.IsSuccessStatusCode)
            {
                var response = await apiResponse.Content.ReadFromJsonAsync<ChatDto>();
                if (response != null)
                {
                    Chat = response;
                }
            }

            IsLoading = false;
            _ask = string.Empty;
        }
    }

    private async Task LoadChatAsync(string chatId)
    {
        var response = await Http.GetFromJsonAsync<ChatDto>($"{ExtensionMethods.GetApiUrl()}/api/chats/{chatId}");
        if (response != null)
        {
            Chat = response;
            SelectedModel = response.Model!;
        }
    }

    private async Task OnFileCompletedAsync(IEnumerable<FluentInputFileEventArgs> files)
    {
        Files = files.ToArray();
        _filesAttached = true;
    }

    private async Task CheckEnterKey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendAsync(_ask);
        }
    }

    private string GetRoleLabel(string role) => role == Role.User.ToString() ? "( ͡° ͜ʖ ͡°) User" : $"{_displayName}";
}